:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --home-background: #e7f1f0;
  }
  
  body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--home-background);
  } 
