.card {
    width: 320px;
    height: 460px;
    margin:20px 10px;
    box-shadow: 0  2px 8px rgb(46, 47, 48);
}

.card:hover {
    box-shadow: 2px 4px  6px  rgb(81, 201, 235)  ;
}

.card img {
    margin-top: 10px;
}

.card-btn {
    background: linear-gradient(rgb(81, 201, 235), #FFFF);
    border-radius: 10px;
    border: #FFFF;
    padding: 4px;
    font-size: 20px;
}

.card-btn1 {
    background: linear-gradient(#9fa19a, #FFFF);
    border-radius: 10px;
    border: #FFFF;
    padding: 4px;
    font-size: 20px;
}


.card-btn:hover {
    background: linear-gradient(#9fa19a, #FFFF);
}

.card-btn1:hover {
    background: linear-gradient(rgb(81, 201, 235), #FFFF);
}

