/* .card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
} */

.card {
    width: 320px;
    height: auto;
    /* height: 460px;*/
    margin:10px 10px;
    border: 3px solid rgb(81, 201, 235);
    box-shadow: 0 0 4px 4px #FFFF;
    padding-bottom: 16px;
    opacity: 1;
    transition: opacity 1s ease-out, box-shadow 1s ease-out, transform 1s ease-out;
}

.card:hover {
    box-shadow: 0 0 20px 6px rgb(81, 201, 235);
    transform: scale(0.95);
    opacity: 0.9;
}

.card img {
    margin-top: 10px;
}

.card-btn {
    background: linear-gradient(rgb(81, 201, 235), #FFFF);
    border-radius: 10px;
    border: #FFFF;
    padding: 4px;
    font-size: 20px;
    margin-bottom: 20px;
}

.card p {
    flex-grow: 1;
}

.card-btn1 {
    background: linear-gradient(#9fa19a, #FFFF);
    border-radius: 10px;
    border: #FFFF;
    padding: 4px;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 20px;
}


.card-btn:hover {
    background: linear-gradient(#9fa19a, #FFFF);
}

.card-btn1:hover {
    background: linear-gradient(rgb(81, 201, 235), #FFFF);
}

.card-links {
    text-decoration: none;
    color:black;
}

@media only screen and (min-width: 1280px) and (max-width: 1300px) {
    .card {
        width: 480px;
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .card {
        width: 440px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 912px) {
    .card {
        width: 360px;
    }
}

@media only screen and (min-width: 440px) and (max-width: 540px) {
    .card {
        width: 460px;
    }
}