.contact-submit-btn {
  background: linear-gradient(rgb(81, 201, 235), #ffff);
  box-shadow: 2px 4px 6px rgb(81, 201, 235);
  border-radius: 10px;
  border: #ffff;
  padding: 6px;
  font-size: 12px;
}

.contact-submit-btn:hover {
  background: linear-gradient(#9fa19a, #ffff, #9fa19a);
  box-shadow: 2px 4px 6px #9fa19a;
  color:black;
}
