:root {
  --primary: rgb(81, 201, 235);
}

footer {
  border-top: 2px solid #353333;
}

footer p {
  color: #FFFF;
}

.privacy-policy,
.cookie-policy {
  background: linear-gradient(to bottom ,#FFFF, rgb(81, 201, 235), #FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
  font-size: 20px;
}

.readMoreBtn {
  background: linear-gradient(to bottom ,rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
  border-radius: 4px;
  text-decoration: none;
  padding: 4px ;
  margin: 4px  10px ;
}

.readMoreBtn:hover {
  background: #353333;  
  color: #FFFF;
}

.modal-body {
  overflow-y: scroll;
  max-height: 70vh;
}

.policy-heading {
  background: linear-gradient(to bottom, rgb(81, 201, 235), rgb(81, 201, 235), rgb(35, 28, 28));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
  font-size: 24px;
}

.privacy-list {
  background: linear-gradient(to bottom ,rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.policy-sub-heading,
.span-sub-heading,
.cookie-p-list,
.cookie-p-span {
  background: linear-gradient(to bottom, rgb(81, 201, 235), rgb(81, 201, 235), rgb(35, 28, 28));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
  font-size: 18px;
}

.modal-closeBtn {
  background: linear-gradient(to bottom ,rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
  border-radius: 4px;
}

.modal-closeBtn:hover {
  background: #353333;
  color: #FFFF;
}

.copyright {
  font-size: 20px;
  color: var(--primary);
}

.pws-fbLink {
  background: linear-gradient(to bottom ,#FFFF, rgb(81, 201, 235), #FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  font-size: 18px;
  text-decoration: none;
}

.pws-fbLink:hover {
  text-decoration: #FFFF underline;
}