:root {
  --primary: rgb(81, 201, 235);
}

.footer-layout {
  bottom: 0;
  width: 100%;
}

footer p {
  color: #FFFF;
}

.copyright {
  font-size: 20px;
  color: var(--primary);
}

.pws-fbLink {
  color: var(--primary);
  font-size: 20px;
  text-decoration: none;
}

.pws-fbLink:hover {
  text-decoration: #FFFF underline;
}