:root {
  --primary: rgb(81, 201, 235);
}

footer {
  border-top: 2px solid #FFFF;
  max-width: 86%;
}

footer p {
  color: #FFFF;
}

.privacy-policy,
.cookie-policy {
  background: linear-gradient(to bottom ,#FFFF, rgb(81, 201, 235), #FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
  font-size: 20px;
}

.copyright {
  font-size: 20px;
  color: var(--primary);
}

.pws-fbLink {
  background: linear-gradient(to bottom ,#FFFF, rgb(81, 201, 235), #FFFF);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bold;
  font-size: 18px;
  text-decoration: none;
}

.pws-fbLink:hover {
  text-decoration: #FFFF underline;
}