.google-setup-section {
  background: linear-gradient(to bottom, rgb(81, 201, 235), rgb(81, 201, 235), rgb(35, 28, 28));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight:bolder;
}

.google-setup {
  color:rgb(35, 28, 28);
}
