.mobile-heading {
    background: linear-gradient(to bottom, #FFFF, #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}

.mobile-section {
    position: relative;
}

.mobile-circle {
  position: absolute;
  bottom: -35px;
  right: -30px;
  width: 60px;
  height: 60px;
  background: radial-gradient(circle, #FFFF, rgb(81, 201, 235), #FFFF, #FFFF);
  border-radius: 50%;
}