:root {
    --primary: rgb(81, 201, 235);
}

.navigation {
    box-shadow: 0 0  20px var(--primary)  ;
}
.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-right: 10px double var(--primary);
    padding:2px;
    margin-right: 10px;
}
.navigation-links a{
    color:black;
    border-radius: 6px;
    margin-right: 10px;
    padding: 4px;
    font-size: 20px;
    text-decoration: none;
}

.navigation-links a.active {
    width:fit-content;
    color:#FFFF;
    box-shadow: 0 8px  6px rgb(81, 201, 235)  ;
}