.process-heading {
    background: linear-gradient(to bottom, #FFFF, #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}

@media only screen and (max-width: 540px) {
    .process-circle {
        margin-top: -5px;
        position: absolute;
        right: 40%;
        width: 60px;
        height: 60px;
        background: radial-gradient(circle, #FFFF, rgb(81, 201, 235), #FFFF, #FFFF);
        border-radius: 50%;
        z-index: 1;
    }
  }