.seo-heading {
    background: linear-gradient(to bottom, #FFFF, #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}
