.about-page {
    opacity: 0;
    transform: translateY(50px);
  
    background: linear-gradient(to bottom, #FFFF, rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}

.about-page.visible {
    opacity: 1;
    transform: translateY(0);
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.about-pws,
.specialize-p,
.creator {
    background: linear-gradient(to bottom ,#FFFF, rgb(81, 201, 235), #FFFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
    font-size: 20px;
}

.specialize-p {
    text-transform: uppercase;
}

.web-development,
.user-experience,
.seo,
.mrd,
.gcbs {
    padding: 15px; 
    margin-bottom: 10px; 
    background: linear-gradient(to right, rgb(81, 201, 235), #FFFF);
    border-left: 8px solid #FFFF;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 #FFFF;
    color:black
}

.web-development:hover,
.user-experience:hover,
.seo:hover,
.mrd:hover,
.gcbs:hover {
    box-shadow: 0 0 20px 0 rgb(81, 201, 235);
    transform: scale(.9);
    transition: 1s ease-out;
}

.fa-screwdriver-wrench,
.fa-palette,
.fa-magnifying-glass,
.fa-globe,
.fa-mobile-screen {
    color:#FFFF;
}

.contactFor-pricing {
    color: rgb(81, 201, 235);
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
}

.contactFor-pricing:hover {
    text-decoration: #FFFF underline;
}

@media only screen and (max-width: 540px) {
    .about-p p {
        text-align: justify;
    }
    .contactFor-pricing {
    text-decoration: #FFFF underline;
    }
}