.contact-me,
.contact-form {
    background: linear-gradient(to bottom, #FFFF, rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}

.contact-me {
    opacity: 0;
    transform: translateY(50px);
}

.contact-me.visible {
    opacity: 1;
    transform: translateY(0);
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.video-background {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    box-shadow: 0 0 10px rgb(81, 201, 235);
}

#bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%; /*Ensure video covers the entire width*/
    min-height: 100%; /*Ensure video covers the entire height*/
    height:100vh;
    width:100vw;
    z-index: -1; 
    transform: translate(-50%, -50%); /* Center the video */
    object-fit: cover; /* Ensures the video covers the entire container without distortion */
}

.content {
    position: relative;
    z-index: 1; 
    color: white;
    padding: 20px;
}

.fa-phone,
.fa-envelope,
.fa-location-dot,
.facebook-icon,
.linkedin-icon {
    background: linear-gradient( #ffff, rgb(81, 201, 235), #ffff );
    color:#ffff;
    border-radius: 50%;
    padding: 10px;
}

.facebook-icon:hover,
.linkedin-icon:hover {
    box-shadow: 0 0 10px 5px rgb(81, 201, 235);
}
/* Responsive Media Queries */
@media only screen and (min-width: 820px) and (max-width: 1024px) {
    .video-background {
        width: 100%;
        height: 80%;
    }
    .content {
        width:70%;
    }
    #bg-video {
        width: 100%;  
        height: auto; 
    }
}
@media only screen and (max-width: 768px) {
    .video-background {
        width: 100%;
        height: 100%;
    }

    .content {
        width:70%;
        font-size: 1.5rem; 
        padding: 10px;
    }

    #bg-video {
        width: 100%;  /* Ensure the video maintains full width on smaller screens */
        height: auto; /* Automatically adjust the height */
    }
}

@media only screen and (max-width: 480px) {
    .content {
        font-size: 1.2rem;
        width:90%;
    }

    #bg-video {
        width: 100%; /* Fit the width for small devices */
        height: auto;
    }
}