.main-paragraph span {
    background: linear-gradient(to bottom, #FFFF, #FFFF, rgb(81, 201, 235), rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
    font-size: 24px;
}
.seo-section,
.mobile-section,
.ux-section {
    background-color: rgb(81, 201, 235);
    color:#FFFF;
}

.get-in-touch {
    text-align: justify;
}
.in-touch {
    background: linear-gradient(to bottom, #FFFF, #FFFF, rgb(81, 201, 235), rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
    font-size: 30px;
}

.why-pam-heading {
    background: linear-gradient(to bottom, #FFFF, #FFFF, rgb(81, 201, 235), rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}

.why-list li {
    text-align: justify;
}
.services-page {
    opacity: 0;
    transform: translateY(50px);

    background: linear-gradient(to bottom, #FFFF, rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
}

.services-page.visible {
    opacity: 1;
    transform: translateY(0);
    transition: transform 2s ease-out, opacity 2s ease-out;
}

.services-contactPage-link {
    color: rgb(81, 201, 235);
    font-size: 16px;
    margin-left: 10px;
    text-decoration: none;
}

.services-contactPage-link:hover {
    text-decoration: #FFFF underline;
}

@media only screen and (max-width: 540px) {
    .google-border {
        border-bottom: 2px solid rgb(81, 201, 235);
      }
      
    .ux-section,
    .seo-section {
        border-bottom: 2px solid #ffff;
      }

    .main-paragraph {
        text-align: justify;
    }

    .why-pam-heading {
    background: linear-gradient(to bottom left, #FFFF, rgb(81, 201, 235), #FFFF, rgb(81, 201, 235));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight:bolder;
    }
}
